.main-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// menu style
.menu {
  background: $b1;
  .menu-content {
    display: flex
  }
  .menu-logo {
    @include flex-center;
    .logo {
      flex-shrink: 0;
      @include size(px-rem(49), px-rem(28));
    }
  }
  .menu-row {
    @include d-flex;
    @include flex-wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 60px;
  }
  .menu-link {
    &.is-active {
      color: $primary-text;
      font-weight: 500;
    }
    @include hover-only {
      &:hover {
        color: $primary-text;
        transition: all .3s ease;
      }
    }
  }
}
.section-news-ticker {
  width: 100%;
  border: 1px solid $primary-border;
  white-space: nowrap;
  overflow: hidden;
  .news-ticker {
    font-size: px-rem(72);
    font-weight: 900;
    text-align: center;
    animation: 22.9503s linear 0s infinite normal none running aniMarquee;
  }
}

// kv style
.kv-section {
  position: relative;
  min-height: 900px;
  padding: 0;
  .container {
    @include d-flex;
    @include flex-column;
    justify-content: center;
    align-items: center;
    gap: px-rem(54);
    margin-top: px-rem(60);
    text-align: center;
  }
  .kv-title-box {
    @include flex-column;
    .kv-title {
      font-size: px-rem(90);
      font-weight: 900;
      line-height: 1.2;
    }
    .kv-title-point {
      color: $primary-text;
    }
    .kv-sec-title {
      font-size: px-rem(64);
      font-weight: 900;
      line-height: 1.2;
    }
  }
  .kv-deco-box {
    @include size(608px, 441px);
    position: relative;
    * {
      position: absolute;
    }
    .skill01 {
      @include size(59.6px, 50.96px);
      top: px-rem(64.5);
      left: px-rem(10);
    }
    .skill02 {
      @include size(59.8px, 53px);
      top: px-rem(113);
      left: px-rem(105);
    }
    .skill03 {
      @include size(46px, 64px);
      top: 0;
      left: px-rem(173);
    }
    .skill04 {
      @include size(50px, 67px);
      top: 0;
      right: px-rem(174);
    }
    .skill05 {
      @include size(50px);
      top: px-rem(113);
      right: px-rem(111);
    }
    .skill06 {
      @include size(50px);
      top: px-rem(46);
      right: 0;
    }
    .kv-visual {
      @include size(272px, 353px);
      bottom: 0;
      left: px-rem(168);
    }
  }
  .kv-scroll {
    @include flex-column;
    cursor: pointer;
    svg {
      @include size(40px);
    }
    .material-icons-round {
      color: $primary-text;
      animation: float 1s infinite;
    }
  }
  
}

// about style
.section-about {
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: px-rem(24);
    width: 100%;
    height: px-rem(610);
    .about-left {
      position: relative;
      flex: 1;
      @include size(604px, 503px);
      margin-top: px-rem(78);
      margin-right: px-rem(68);
      * {
        position: absolute;
      }
      .code-left {
        @include size(274px, 214px);
        left: px-rem(-54);
      }
      .code-right {
        @include size(228px, 178px);
        right: px-rem(5);
        bottom: px-rem(66);
      }
      .about-visual {
        @include size(571px, 503px);
        left: 0;
      }
    }
    .about-right {
      @include flex-column;
      gap: px-rem(16);
      flex: 1;
      flex-shrink: 0;
      .about-tag-box {
        display: flex;
        align-items: center;
        gap: px-rem(16);
        .tag {
          padding: px-rem(8) px-rem(16);
          color: $primary-text;
          background: $third;
          border-radius: px-rem(24);
        }
      }
    }
  }
}


// skill style
.section-skill-row  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: px-rem(36);
  .section-skill-item {
    flex: 0 0 calc(100% / 4);
    font-size: px-rem(40);
    font-weight: 900;
    text-align: center;
    line-height: 1;
    &:nth-child(1) {
      color: $primary-text;
    }
    &:last-child {
      @include flex-center;
    }
  }
  .skill-text {
    font-size: px-rem(16);
  }
}

// experience style
.section-experience {
  padding-bottom: px-rem(120);
  .experience-row {
    width: 100%;
  }
  .experience-item {
    position: relative;
    padding-left: px-rem(24);
    padding-bottom: px-rem(16);
    border-left: 2px solid $fourth;
    &:before {
      content: '';
      position: absolute;
      top: px-rem(12);
      left: px-rem(-9);
      width: px-rem(16);
      height: px-rem(16);
      border-radius: 100%;
      background: $primary;
    }
    &:not(:first-child) {
      margin-top: px-rem(-12);
    }
    &.is-open {
      .toggle-trigger {
        &.rotate {
          transform: rotate(-180deg);
        }
      }
      .experience-job-row {
        display: block
      }
    }

  }
  .experience-link {
    @include flex-column;
    gap: px-rem(12);
    width: 100%;
    font-weight: 500;
    border-radius: px-rem(16);
    padding: px-rem(8) px-rem(12);
    @include hover-only {
      &:hover {
        transition: all .3s ease;
      }
    }
  }
  .experience-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .experience-left {
      flex: 0 0 auto;
    }
    .experience-right {
      @include flex-center;
      flex: 0 0 auto;
      gap: px-rem(16);

      .toggle {
        @include size(36px);
        background: url(../images/icon-arrow-down.svg);
        @include background-cover;
        transition: all .3s ease;
        cursor: pointer;
        &.rotate {
          transform: rotate(-180deg);
        }
      }
      
    }
    .experience-title {
      color: $primary-text;
    }
    .experience-company {
      font-size: px-rem(20);
      font-weight: 700;
    }
    .experience-date {
      font-size: px-rem(20);
      font-weight: 500;
      color: $third-text;
    }
  }

  .experience-job-row {
    padding: 0 px-rem(16);
    .experience-job-item {
      font-weight: normal;
      font-size: px-rem(14);
      &.title {
        font-weight: 500;
      }
    }
  }
}

// project style
.section-project {
  padding-bottom: px-rem(120);
  .swiper-button-next,
  .swiper-button-prev {
    width: 48px;
    height: 48px;
    z-index: 4;
    background: rgba(0, 0, 0, 0.76);
    border-radius: 99em;
    outline: none;
    
    &::after {
      width: 32px;
      height: 32px;
      background: url(../images/icon-arrow.svg);
      @include background-cover;
    }

    &.swiper-button-disabled {
      pointer-events: auto;
      background: rgba(0, 0, 0, 0.24);
    }
  }

  .swiper-button-next::after {
    transform: rotateY(-180deg);
  }
}
.project-row {
  &.has-fade-after {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 85%, #ffffff 100%);
      width: 50%;
      height: 100%;
      pointer-events: none;
    }
  }
}
.project-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: px-rem(12);
  
  &:hover {
    &:after {
      opacity: 1;
      background: rgba(0, 0, 0, 0.68);
      transition: opacity .3s ease-in-out;
    }
    .project-name {
      opacity: 1;
      transition: opacity .3s ease-in-out;
      pointer-events: none;
    }
    .border {
      @include size(100%);
      transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
      opacity: 1;
    }
    .border-before {
      border-width: 0 0 5px 5px;
    }
    .border-after {
      border-width: 5px 5px 0 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
  }
  .border {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid $primary;
    border-width: 0;
    transition: all ease-in-out;
    opacity: 0;
    z-index: 2;
  }
  .border-before {
    right: 0;
    bottom: 0;
  }
  .border-after {
    top: 0;
    left: 0;
  }

  .project-img {
    border-radius: px-rem(12);
  }

  
  .project-name {
    @include center;
    color: $white-text;
    z-index: 2;
    font-size: px-rem(20);
    opacity: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}

// soho style
.section-soho {
  .soho-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: px-rem(16);
    width: 100%;
  }
  .soho-item {
    @include flex-center;
    font-size: px-rem(20);
    font-weight: 700;
    border-radius: px-rem(16);
    color: #fff;
    overflow: hidden;
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    
    &:nth-child(3) {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }
    
    &:nth-child(4) {
      grid-column: 1 / 3;
      grid-row: 2  / 4;
    }
    
    &:nth-child(5){
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }
    .project-img {
      @include size(100%);
    }
  }
}

// case style

.section-case {
  @include flex-column;
  gap: px-rem(40);
  padding-bottom: px-rem(60);
  .content {
    gap: px-rem(8);
    justify-content: center;
    align-items: center;
  }
}

.case-head {
  padding-top: px-rem(48);
  text-align: center;
  .case-heading {
    font-size: px-rem(52);
    font-weight: 900;
  }
  .case-link {
    color: $primary-text;
    @include hover-only {
      &:hover {
        color: $third-text;
      }
    }
  }
}

.case-body {
  .case-column {
    @include flex-column;
    gap: px-rem(36);
    margin-top: px-rem(36);
  }
  .case-row {
    display: flex;
    justify-content: center;
    gap: px-rem(16)
  }
  .case-item {
    margin-top: px-rem(16);
    flex: 0 0 50%;
  }
  .case-msg {
    font-size: px-rem(24);
    font-weight: 700;
    text-align: center;
    margin-bottom: px-rem(16);
  }
  .case-text {
    font-size: px-rem(20);
    color: $gray-text;
    text-align: center;
    font-weight: 500;
    margin-bottom: px-rem(12);
  }
  .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
  }
}