@media (max-width: ($pc-midrwd-breakpoint* 1px)) {

  // menu style
  .menu {
    border: vw(1px) solid $primary-border;
    .menu-logo {
      @include flex-center;
      .logo {
        @include size(vw(49px), vw(28px));
      }
    }
    .menu-row {
      gap: vw(32px);
      height: vw(60px);
      .menu-link {
        font-size: vw(24px);
      }
    }
  }
  .section-news-ticker {
    border: 1px solid $primary-border;
    .news-ticker {
      font-size: vw(72px);
    }
  }

  // about style
  .section-about {
    .about-content {
      gap: vw(24px);
      height: auto;
      .about-left {
        @include size(vw(604px), vw(503px));
        margin-top: vw(78px);
        margin-right: vw(68px);
        .code-left {
          @include size(vw(274px), vw(214px));
          left: vw(-54px);
        }
        .code-right {
          @include size(vw(228px), vw(178px));
          right: vw(5px);
          bottom: vw(66px);
        }
        .about-visual {
          @include size(vw(571px), vw(503px));
        }
      }
      .about-right {
        
        .about-tag-box {
          gap: vw(16px);
          .tag {
            padding: vw(8px) vw(16px);
            border-radius: vw(24px);
          }
        }
      }
    }
  }

  // skill style
  .section-skill-row  {
    gap: vw(36px);
    .section-skill-item {
      font-size: vw(40px);
    }
    .skill-text {
      font-size: vw(16px);
    }
    .btn {
      @include size(vw(160px * 1.25), vw(48px * 1.25));
      border-radius: vw(99px);
      font-size: vw(32px);
      &-primary {
        border: vw(2px) solid $primary;
      }
    }
  }

  // soho style
  .section-soho {
    .soho-grid {
      grid-template-rows: repeat(3, vw(200px));
      gap: vw(16px);
    }
    .soho-item {
      font-size: vw(20px);
      border-radius: vw(16px);
    }
  }
}