.lightbox {
  @include size(100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(20px);

  &__black-overlay {
    @include size(100%);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0; 
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.76);
  }

  &__closed {
    @include flex-center;
    @include size(36px);
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ffffff80;
    border-radius: 999em;
    z-index: 3;
    &:hover {
      border: 1px solid $backgroundB1;
      background: $backgroundDarkB1;
    }
    &::before {
      @include flex-center;
      @include size(44%);
      @include background-setting;
      content: "";
      background-image: url(../images/icon_X.svg);
    }
  }

  &__container {
    @include flex-center;
    @include size(95%,100%);
    margin: auto;
  }

  &__video-box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: ($pc-midrwd-breakpoint* 1px);
    padding: 40px;
    transition: padding-top .4s cubic-bezier(.16,1,.3,1);
  }
}

.toggle__trigger {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: ($mbrwd-breakpoint* 1px)) {
  .lightbox {
    &__inner {
      @include flex-column;
      align-items: center;
      flex-direction: column-reverse;
      padding: 0;
    }

    &__closed {
      position: initial;
    }

    &__video {
      &-box {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}