body {
  background: $backgroundDarkB1;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  .container {
    justify-content: center;
    align-items: center;
  }
  picture {
    @include flex-center;
  }
}

.section-tab {
  justify-content: space-between;
  align-items: flex-end;
  gap: 4px;
  width: $pc-midrwd-breakpoint + px;
  .section-tab-item {
    @include size(pct(361px),pct(75px));
    margin-top: pct(100px);
    padding: pct(24px) 0;
    color: rgba(255, 255, 255, .5);
    font-size: 28px;
    text-align: center;
    background: #045D7F;
    cursor: pointer;
    *:hover {
      background: #0396D7;
    }
    &.is-active {
      background: #0396D7;
      color: $text03;
      font-size: 32px;
      font-weight: bold;
    }
    &:not(:nth-child(1)) {
      &:hover {
        background: #3F65CF;
        color: #fff;
      }
      &.is-active {
        background: #3F65CF;
        .section-tab-text {
          display: inline-block;
        }
      }
    }
  }
}

.section-tab-content {
  @include flex-column;
  justify-content: center;
  align-items: center;
  @include size(100%, 100%);
  border: 3.5px solid #0396D7;
  padding: pct(40px) 0;
  display: none;

  .section-tab-msg {
    margin-bottom: pct(40px);
    color: #CECECE;
    font-size: 24px;
    text-align: center;
    .section-tab-msg-name {
      background: linear-gradient(to right, #09F3FF 0%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 28px;
      font-weight: bold;
    }
  }
  .section-tab-img {
    @include flex-center;
    @include size(pct(997px), pct(558px));
  }
}

.container {
  max-width: ($pc-midrwd-breakpoint) + px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  @include flex-column;
}

.tab {
  @include size(100%, 133px);
  position: absolute;
  top: -65px;
  z-index: 2;
  &.img-1 {
    background: url(../images/kv_menu_left.png);
    @include background-cover;
  }
  &.img-2 {
    background: url(../images/kv_menu_right.png);
    @include background-cover;
  }
  .tab-row {
    @include size(100%, 100%);
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .tab-item {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    text-align: center
  }
  .tab-link {
    display: inline-block;
    @include size(100%, 100%);
    color: transparent;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.gotop {
  background: url(../images/gotop.png);
  @include background-cover;
  @include size(100px);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.black-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 3;
  -moz-opacity: 0.8;
  opacity: .90;
  filter: alpha(opacity=80);
  display: block;
}

.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;

  .closed {
    @include size(32.45px);
    cursor: pointer;
  }

  .popup-page {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .pop01 {
    @include flex-center;;
    max-width: 1094.4px;
    margin: auto;
    width: 100%;
  }
}

  // -----kv visual
  // --------------------------------------------------
  
  .kv-section-bg {
    @include size(100%, 100%);
  }

  .logo {
    display: inline-block;
    width: 142px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  
  // -----s2 section
  // --------------------------------------------------
  
  .s2-section {
    background: url(../images/s2_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: pct(100px);
    .container {
      padding-top: pct(200px);
    }
  
    .s2-section-title-top {
      @include size(pct(651px), pct(221px));
      @include flex-center;
    }
  
    .s2-section-visual-top {
      @include size(pct(812px), pct(802px));
      margin-top: pct(-120px);
    }
  
    .s2-section-title-bottom {
      @include size(pct(903.86px), pct(167.67px));
      margin-top: pct(-80px);
    }
  
    .s2-section-visual-bottom {
      @include size(pct(1920px), pct(888px));
      margin-top: pct(-250px);
      pointer-events: none;
    }
  
    .s2-section-npc-bottom {
      background: url(../images/s2_msg_bottom.png);
      @include size(pct(1124px), 303px);
      @include background-cover;
      margin-top: pct(-300px);
    }
  
  }
  
  // -----s3 section
  // --------------------------------------------------
  
  .s3-section {
    padding: pct(48px) 0 pct(150px);
    background: url(../images/s3_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    .s3-section-title-top {
      @include size(pct(803px), pct(230px));
    }
    .s3-section-bottom {
      margin-top : pct(150px);
      &.column {
        justify-content: center;
        align-items: center;
      }
  
      .s3-section-title-bottom {
        @include size(pct(624.51px) , pct(267.01px));
      }

      .s3-section-row {
        @include size(100%);
        justify-content: space-between;
        align-items: flex-start;
      }

      .s3-section-item {
        position: relative;
        flex: 0 0 50%;
        margin-top: pct(50px);
        &:nth-child(1) {
          @include size(553.74px, 457.54px);
          background: url(../images/s3_box_left.png);
          @include background-cover;
          .s3-section-btn {
            position: absolute;
            bottom: 63px;
            background: url(../images/s3_button_left.png);
            @include background-contain;
            @include size(100%, 83px);
          }
        }
        &:nth-child(2) {
          @include size(553.74px, 457.54px);
          background: url(../images/s3_box_right.png);
          @include background-cover;
          .s3-section-btn {
            position: absolute;
            bottom: 63px;
            background: url(../images/s3_button_right.png);
            @include background-contain;
            @include size(100%, 83px);
          }
        }
      }
      .s3-section-msg-bottom {
        @include size(pct(981.33px), pct(193.87px));
        margin-top: pct(64px);
      }
    }
  }
  
  
  // -----s4 section
  // --------------------------------------------------
  
  .s4-section {
    padding: pct(48px) 0 pct(150px);
    background: url(../images/s4_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  
    .s4-section-title-top {
      @include size(pct(1095.14px), pct(99.53px));
    }
  
    .s4-section-visual-top {
      @include size(pct(842.86px), pct(842.86px));
    }
  
    .s4-section-msg-top {
      @include size(pct(1205px), pct(87px));
    }
  
    .s4-section-bottom {
      margin-top: pct(300px);
  
      .section-tab {
        gap: 0;
      }
  
      .section-tab-item {
        flex: 0 0 calc((100% / 4) - 4px);
      }
    }
  }
  
  // -----s5 section
  // --------------------------------------------------
  
  .s5-section {
    padding: pct(48px) 0 pct(50px);
    background: url(../images/s5_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  
    .s5-section-title {
      @include size(pct(501.31px), pct(274.98px));
    }
  
    .s5-section-msg {
      @include size(pct(919.96px), pct(95.79px));
      margin-top: pct(70px);
    }
  
    .s5-section-text {
      color: #878484;
      font-size: 1rem;
      margin-top: 1.25rem;
    }
  
    .s5-section-vod {
      position: relative;
      @include size(1291.71px, 758.29px);
      justify-content: space-between;
      margin-top: pct(150px);
  
      video {
        @include size(100%);
        object-fit: cover;
      }
  
      .s5-section-bg {
        @include size(1291.71px, 548.1px);
        position: absolute;
        top: pct(-100px);
        background: url(../images/s5_star.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        
      }
    }
  
    .s5-section-vod01 {
      position: relative;
      background: url(../images/s5_vod01.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      @include size(585.78px, 616px);
      flex: 0 0 calc(50% - 24px);
  
      .s5-vod {
        width: 512px;
        height: 392px;
        position: absolute;
        top: 126px;
        left: calc((100% - 512px) / 2);
        overflow: hidden;
      }
    
    }
  
    .s5-section-vod02 {
      position: relative;
      background: url(../images/s5_vod02.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      @include size(585.78px, 616px);
      flex: 0 0 calc(50% - 24px);
      margin-top: pct(135px);
  
      .s5-vod {
        width: 512px;
        height: 392px;
        position: absolute;
        top: 126px;
        left: calc((100% - 512px) / 2);
        overflow: hidden;
      }
    }
  
    .s5-section-row {
      align-items: flex-end;
      .s5-vodbox {
        position: relative;
        @include size(pct(350px), pct(250.54px));
      }
      .s5-vod {
        width: 100%;
        height: 76.5%;
        position: absolute;
        top: pct(3px);
        left: 0px;
  
        video {
          @include size(100%);
        }
      }
    }
    
    .s5-section-card {
      @include size(pct(1197.24px), pct(289.14px));
      margin-top: pct(60px);
    }
  
    .s5-section-card04 {
      @include size(pct(586.63px), pct(420.99px));
      margin-top: pct(70px);
    }
  
    .s5-section-card05 {
      @include size(pct(1099.32px), pct(343.35px));
    }
  }

  .left-table-container {
    display: none;
    .s2-section-visual-top {
      margin-left: pct(50px);
    }
  }


  .right-table-container {
    display: none;
    // -----s2 section
    // --------------------------------------------------
    .s2-section {
      background: url(../images/s2_bg_R.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      .s2-section-title-top {
        @include size(pct(651px), pct(255.66px));
      }

      .s2-section-visual-top {
        @include size(pct(705px), pct(638.37px));
        margin-top: 0;
      }
      .s2-section-title-bottom {
        margin-top: pct(150px);
      }

      .s2-section-visual-bottom {
        @include size(pct(525.62px), pct(372.92px));
        margin-top: pct(60px);
        pointer-events: none;
      }

      .s2-section-npc-bottom {
        background: url(../images/s2_msg_bottom_R.png);
        @include size(pct(1124px), 303px);
        @include background-cover;
        margin-top: 0;
      }
    }

    // -----s3 section
    // --------------------------------------------------
    .s3-section {
      background: url(../images/s3_bg_R.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      .s3-section-title-top {
        @include size(pct(501.31px), pct(151px));
        margin-top: pct(105px);
      }
      .s3-section-card {
        @include size(100%, pct(979.2px));
        margin-top: pct(100px);
      }

      .s3-section-center {
        justify-content: center;
        align-items: center;
        margin-top: pct(363px);

        .s3-section-title-center {
          @include size(pct(629.31px), pct(152.8px));
        }

        .s3-section-msg-center {
          @include size(pct(1128.31px), pct(275.26px));
        }

        .s3-section-card-center {
          @include size(pct(1091.2px), pct(1300.29px));
        }
      }

      .s3-section-bottom {
        margin-top: pct(328px);

        .s3-section-title-bottom {
          @include size(100% , pct(267.01px));
        }

        .s3-section-card01-bottom {
          margin-bottom: pct(40px);
        }
        .s3-section-card02-bottom {
          position: relative;
          width:100%;
          height: 100%;
          .s3-section-btn {
            display: inline-block;
            background: url(../images/s3_button_R.png);
            @include background-contain;
            @include size(254px, 116px);
            position: absolute;
            top: calc((100% - 116px) / 2);
            right: 0;;

          }
        }
      }
    }

    // -----s4 section
    // --------------------------------------------------
    .s4-section {
      background: url(../images/s4_bg_R.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      .s4-section-title-top {
        @include size(100%, pct(169.95px));
        margin-bottom: pct(30px);
      }
      .s4-section-card-top {
        @include size(100%, 441.6px);
        margin-bottom: pct(34px);
      }
      .s4-section-card-bottom {
        position: relative;
        @include size(100%, 824.8px);
      }

      .s4-section-card-row  {
        .s4-section-card-item {
          @include size(pct(669.6px), 410.62px);
        }
        .swiper-button-next {
          background: url(../images/s4_slide_arrow_next.png);
          @include size(68.53px, 116px);
          @include background-cover;
          right: 100px;
          top: 62%;
          z-index: 1;
        }
        .swiper-button-prev {
          background: url(../images/s4_slide_arrow_prev.png);
          @include size(68.53px, 116px);
          @include background-cover;
          left: 100px;
          top: 62%;
          z-index: 1;
        }
      }

      .swiper {
        @include size(669.6px, 410.62px);
        position: absolute;
        bottom: pct(80px);
        left: calc((100% - 669.6px) / 2);
      }
    }
  }