@charset "UTF-8";
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Serif TC", Arial, "Helvetica Neue", Helvetica, "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

h1 {
  display: none;
}

ol,
ul,
p {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  display: inline-block;
  color: #282828;
  text-decoration: none;
}

/* Set core body defaults */
body {
  font-family: "Noto Serif TC", Arial, "Helvetica Neue", Helvetica, "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #1b191f;
  color: #1f252d;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-height: 112px;
  padding: 0 24px 0 0;
}
.header__logo-img {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/icon_logo_pc.png);
}
.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 16px;
}
.header__item {
  margin: 0 8px;
}

.bg-deco {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
.bg-deco__tree {
  background-image: url(../images/kv_img_tree.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 423px;
  height: 165px;
  position: absolute;
  z-index: 9;
}
.bg-deco__tree.left {
  left: 0;
}
.bg-deco__tree.right {
  right: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.bg-deco__ball-red {
  background: url(../images/kv_img_ball_red.png) no-repeat 0 100%/100% auto;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 41px;
  height: 207px;
  -webkit-animation: bouncing-bell 3s forwards;
          animation: bouncing-bell 3s forwards;
}
.bg-deco__ball-red:nth-child(1) {
  left: 8.3333333333%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.bg-deco__ball-red:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.bg-deco__ball-red:nth-child(4) {
  right: 25%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.bg-deco__ball-red:nth-child(5) {
  right: 8.3333333333%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.bg-deco__ball-sliver {
  background: url(../images/kv_img_ball_sliver.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 48px;
  height: 290px;
  left: 16.6666666667%;
  -webkit-animation: bouncing-bell 3s forwards;
          animation: bouncing-bell 3s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.bg-deco__ball-box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-deco__ball-box * {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 20px;
    max-height: 60px;
    overflow: hidden;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-height: 60px;
  }
  .header__logo {
    max-height: 60px;
  }
  .header__logo-mb {
    width: 130px;
    height: 60px;
    background-image: url(../images/icon/icon_logo_mb.png);
  }
  .bg-deco__tree {
    display: none;
  }
  .bg-deco__ball-red {
    width: 20px;
    height: 100px;
  }
  .bg-deco__ball-red:nth-child(1), .bg-deco__ball-red:nth-child(5) {
    display: none;
  }
  .bg-deco__ball-sliver {
    width: 20px;
    height: 120px;
    left: 8.3333333333%;
  }
  .bg-deco__ball-sliver:nth-of-type(2) {
    left: initial;
    right: 8.3333333333%;
  }
}
.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  right: 16px;
  z-index: 990;
}
.menu-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 16px;
}
.menu-nav__item.active::after {
  background-image: url(../images/icon_side_menu_active.png);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.menu-nav__item.active .menu-nav__name {
  color: #ff0000;
  opacity: 1;
}
.menu-nav__item::after {
  width: 16px;
  height: 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: 12px;
  background-image: url(../images/icon_side_menu.png);
  background-size: contain;
  -webkit-transform: scale(0.6, 0.5);
          transform: scale(0.6, 0.5);
  -webkit-transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu-nav__name {
  display: inline-block;
  text-align: right;
  opacity: 0.5;
}
.menu-nav__name:hover {
  color: #b992f2;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .menu-nav {
    right: 1.3333333333vw;
  }
  .menu-nav__item {
    margin-bottom: 1.3333333333vw;
  }
  .menu-nav__item::after {
    width: 1.3333333333vw;
    height: 1.6666666667vw;
    margin-left: 1vw;
  }
}
.btn-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 52px;
  padding: 8px 16px;
  background: #a2bacd;
  border: 1px solid transparent;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  white-space: nowrap;
}
.btn-game:hover {
  border: 1px solid #ffffff;
  background: #000000;
  color: #ffffff;
  letter-spacing: 1px;
}
.btn-game-link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-game-link:hover::before {
  border: 1px solid #ffffff;
  background: #000000;
}
.btn-game-link:hover .home, .btn-game-link:hover .fb, .btn-game-link:hover .yt {
  -webkit-filter: invert(100%) sepia(48%) saturate(155%) hue-rotate(291deg) brightness(119%) contrast(100%);
          filter: invert(100%) sepia(48%) saturate(155%) hue-rotate(291deg) brightness(119%) contrast(100%);
}
.btn-game-link::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  border: 1px solid #a2bacd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-game__icon {
  width: 42px;
  height: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: invert(75%) sepia(31%) saturate(202%) hue-rotate(164deg) brightness(93%) contrast(87%);
          filter: invert(75%) sepia(31%) saturate(202%) hue-rotate(164deg) brightness(93%) contrast(87%);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.btn-game__icon.home {
  background-image: url(../images/icon/icon_home.svg);
}
.btn-game__icon.fb {
  background-image: url(../images/icon/icon_facebook.svg);
}
.btn-game__icon.yt {
  background-image: url(../images/icon/icon_youtube.svg);
}
.btn__gotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  position: fixed;
  right: 42px;
  bottom: 42px;
  z-index: 990;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5019607843);
}
.btn__gotop::before {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40%;
  height: 50%;
  content: "";
  display: inline-block;
  background-image: url(../images/icon_gotop.svg);
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .btn-game__icon {
    width: 24px;
    height: 24px;
  }
  .btn__gotop {
    right: 16px;
    bottom: 16px;
  }
}
.menu-slide {
  width: 170px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-image: url(../images/menu_slide_bg.png);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  visibility: hidden;
}
.menu-slide.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  visibility: visible;
}
.menu-slide__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 52px;
  position: absolute;
  top: 112px;
  align-items: center;
  max-width: 119px;
  color: #ffffff;
  background: #13100e;
  text-shadow: 0 4px 8px rgba(255, 204, 150, 0.6);
  cursor: pointer;
}
.menu-slide__button:hover {
  background: #534c45;
}
.menu-slide__button::after {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-image: url(../images/icon_menu_hamburger.png);
  background-size: contain;
}
.menu-slide__button-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 8px;
  font-size: 20px;
}
.menu-slide__closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 170px;
  z-index: 999;
  background: #13100e;
  cursor: pointer;
}
.menu-slide__closed::after {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  margin-right: 0;
  background-image: url(../images/icon_closed.png);
  background-size: contain;
}
.menu-slide__closed:hover {
  background: #534c45;
}
.menu-slide__logo {
  margin: 0 auto 32px;
}
.menu-slide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 0 8px;
}
.menu-slide__item {
  width: 100%;
  margin-bottom: 16px;
}
.menu-slide__img {
  height: 100%;
  margin-bottom: 8px;
}
.menu-slide__link {
  width: 100%;
  position: relative;
  color: #858585;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.menu-slide__link:hover {
  color: #ffebbc;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.menu-slide__link:hover::after {
  opacity: 1;
}
.menu-slide__link::before, .menu-slide__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 70px;
}
.menu-slide__link::before {
  border: 1px solid #858585;
}
.menu-slide__link::after {
  opacity: 0;
  background-image: url(../images/menu_slide_border.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .menu-slide__button {
    width: 24px;
    height: 24px;
    position: initial;
    background: transparent;
  }
  .menu-slide__button:hover {
    background: none;
  }
  .menu-slide__button-text {
    display: none;
    margin-left: 0;
  }
  .menu-slide__link {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #403734;
    border-top: 1px solid #403734;
  }
  .menu-slide__link::before, .menu-slide__link::after {
    display: none;
  }
}
html,
body {
  position: relative;
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

.color-primary {
  color: #ff0000;
}
.color-secondary {
  color: #ffec82;
}
.color-secondary--dark {
  color: #c8c8c8;
}
.color-point {
  color: #9e4b2a;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 30px;
}
.text-xl {
  font-size: 60px;
}

.fw-normal {
  font-weight: normal;
}
.fw-sm {
  font-weight: 400;
}
.fw-md {
  font-weight: 500;
}
.fw-lg {
  font-weight: 700;
}
.fw-xl {
  font-weight: 900;
}

.d-block {
  display: block;
}

.d-none-lg {
  display: none;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: 10000;
}
.loading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loading__logo {
  width: 70px;
  height: 70px;
}
.loading__bar {
  width: 100%;
  height: 2px;
  position: relative;
  margin: 16px 0;
  border-radius: 4px;
  background: #1f252d;
  overflow: hidden;
}
.loading__progress {
  width: 0;
  height: 100%;
  background-color: #a7a7a7;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.loading__text {
  color: #a7a7a7;
  font-family: Arial;
  letter-spacing: 0.1px;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section__bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.section__bg::after {
  display: block;
  content: "";
  background-image: url(../images/black_overlay_bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}
.section__logo {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 172px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(../images/img_head_logo.png);
}
.section__textbox {
  margin: 40px 0 16px;
}
.section__text {
  color: #c2f1ff;
  text-align: center;
  font-size: 18px;
}
.section__title {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 580px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 24px;
}
.section__btn {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 280px;
  height: 82px;
  background-image: url(../images/s2_btn_off.png);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section__btn:hover {
  background-image: url(../images/s2_btn_active.png);
}
.section__btn.s3__btn {
  background-image: url(../images/s3_btn_off.png);
}
.section__btn.s3__btn:hover {
  background-image: url(../images/s3_btn_active.png);
}

.UNI-footer.dark {
  display: none;
}

.section-slide {
  min-height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .d-block-md {
    display: block;
  }
  .d-none-md {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: initial;
    padding: 0 16px;
  }
  .text-md {
    font-size: 16px;
  }
  .text-lg {
    font-size: 18px;
  }
  .text-xl {
    font-size: 30px;
  }
  .d-block-sm {
    display: block;
  }
  .d-none-sm {
    display: none;
  }
  .section__logo {
    width: 80px;
    height: 70px;
  }
  .section__title {
    width: 100%;
    height: 75px;
    padding: 0 8px;
    margin-top: 16px;
  }
  .section__text {
    font-size: 16px;
  }
  .section__textbox {
    padding: 0 28px;
    margin: 16px auto;
  }
  .section__btn {
    width: 200px;
    height: 59px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.section__bg.s2-section__bg::after {
  display: none;
}

.kv-section__visual {
  width: 476px;
  height: 600px;
  -webkit-animation: flameWindUp 3s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindUp 3s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}
.kv-section__textbox {
  margin: 32px auto;
  -webkit-animation: fadeUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: fadeUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}
.kv-section__title {
  color: #ffffff;
  font-size: 2rem;
}
.kv-section__title:nth-child(2) {
  font-size: 1.5rem;
  margin-top: 24px;
}
.kv-section__scroll {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 37px;
  height: 108px;
  background-image: url(../images/kv_scrolldown.png);
  -webkit-animation: fadeUp2 2.2s forwards, float 1.3s infinite;
          animation: fadeUp2 2.2s forwards, float 1.3s infinite;
}

.s2-section__bg {
  background: url(../images/bg_festival.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.s2-section__title {
  background-image: url(../images/s2_head_title.png);
}
.s2-section__heading {
  max-width: 245px;
  margin: 0 auto 16px;
  text-align: center;
}
.s2-section__textbox {
  margin: 16px auto;
}
.s2-section__gift {
  width: 400px;
  height: auto;
  margin: 24px auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.s3-section__wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 0;
}
.s3-section__title {
  background-image: url(../images/s3_head_title.png);
}
.s3-section__img {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9;
}
.s3-section__img-01 {
  width: 398px;
  height: 298px;
  top: 26.6666666667%;
  left: calc(50% + -690px);
}
.s3-section__img-02 {
  width: 327px;
  height: 228px;
  top: 25%;
  right: calc(50% + -625px);
}
.s3-section__img-03 {
  width: 353px;
  height: 277px;
  right: calc(50% + -560px);
  bottom: 10%;
}
.s3-section__info {
  background-image: url(../images/s3_event_time.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 500px;
  height: 237px;
  margin: 28px auto 40px;
}

@-webkit-keyframes flameWind {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes flameWind {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindUp {
  0% {
    -webkit-transform: translateY(10%) scale(0.8);
            transform: translateY(10%) scale(0.8);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindUp {
  0% {
    -webkit-transform: translateY(10%) scale(0.8);
            transform: translateY(10%) scale(0.8);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindDown {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindDown {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindInLeft {
  0% {
    -webkit-transform: translateX(-20%) scaleX(-1);
            transform: translateX(-20%) scaleX(-1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleX(-1);
            transform: translateX(0) scaleX(-1);
    opacity: 1;
  }
}
@keyframes flameWindInLeft {
  0% {
    -webkit-transform: translateX(-20%) scaleX(-1);
            transform: translateX(-20%) scaleX(-1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleX(-1);
            transform: translateX(0) scaleX(-1);
    opacity: 1;
  }
}
@-webkit-keyframes flameInLeft {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes flameInLeft {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindInRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes flameWindInRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindRightCenter {
  0% {
    -webkit-transform: translate(20%, 50%) rotate(10deg) scale(0.8);
            transform: translate(20%, 50%) rotate(10deg) scale(0.8);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindRightCenter {
  0% {
    -webkit-transform: translate(20%, 50%) rotate(10deg) scale(0.8);
            transform: translate(20%, 50%) rotate(10deg) scale(0.8);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindLeftCenter {
  0% {
    -webkit-transform: translateX(-20%) scale(1.5);
            transform: translateX(-20%) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindLeftCenter {
  0% {
    -webkit-transform: translateX(-20%) scale(1.5);
            transform: translateX(-20%) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeUp2 {
  0% {
    margin-top: 70px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes fadeUp2 {
  0% {
    margin-top: 70px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes floatDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 50% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes floatDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 50% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes bouncing-bell {
  0%, 20%, 53%, 80%, to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bouncing-bell {
  0%, 20%, 53%, 80%, to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
.animate {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animate_fadeIn {
  opacity: 0;
}
.animate_fadeUp {
  opacity: 0;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}
.animate_fadeDown {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
.animate_fadeLeft {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}
.animate_fadeRight {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
}
.animate_maskLeft {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.animate_maskRight {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.animate_maskUp {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.animate_maskDown {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.animate_active {
  opacity: unset;
  -webkit-transform: unset;
          transform: unset;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.animate_delay100 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.animate_delay200 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.animate_delay300 {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.animate_delay400 {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.animate_delay500 {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.animate_delay600 {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.animate_delay700 {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.animate_delay800 {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.animate_delay900 {
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.animate_delay1000 {
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

@media screen and (max-height: 1000px) and (min-width: 769px) {
  .kv-section__visual {
    width: 375px;
    height: 490px;
  }
  .section__wrapper {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .section__wrapper.s3-section__wrapper {
    margin-top: -40px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .section__logo {
    width: 100px;
    height: 70px;
  }
  .s3-section__wrapper {
    max-width: 100%;
  }
  .s3-section__imgbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s3-section__info {
    width: 400px;
    height: 200px;
    margin: 16px auto;
  }
  .s3-section__img {
    width: 200px;
    height: auto;
    position: initial;
  }
}
@media (max-width: 768px) {
  .section-slide {
    min-height: auto;
    max-height: 100%;
  }
  .section-slide__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-slide__wrapper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .section-slide__wrapper .swiper-slide:nth-child(2) {
    height: 88vh;
  }
  .section-slide__wrapper .swiper-slide:nth-child(3) {
    min-height: 800px;
  }
  .kv-section__visual {
    width: 66.6666666667%;
    height: auto;
    max-width: 280px;
  }
  .kv-section__title {
    font-size: 1.25rem;
  }
  .kv-section__title:nth-child(2) {
    font-size: 1rem;
    margin-top: 16px;
  }
  .kv-section__textbox {
    margin: 16px auto;
  }
  .kv-section__scroll {
    width: 37px;
    height: 70px;
  }
  .s2-section__heading {
    max-width: 180px;
  }
  .s2-section__gift {
    width: 325px;
    height: auto;
    max-height: 360px;
    margin: 16px auto;
  }
  .s2-section__textbox {
    padding: 0 8px;
  }
  .s3-section__wrapper {
    padding: 0;
  }
  .s3-section__textbox {
    max-width: 400px;
    height: 20%;
    margin-top: 16px;
  }
  .s3-section__imgbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s3-section__img {
    width: 100%;
    height: auto;
    position: initial;
  }
  .s3-section__text {
    font-size: 1rem;
  }
  .s3-section__info {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .UNI-footer .gradeArea .gradeArea__img img {
    width: 50px;
  }
}
@media (max-width: 540px) {
  .s3-section__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}