extends _layout.pug

append vars
block append loading
block append lightbox
block append header
block append pages
block append nav
block content
  main.content
    .section.kv-section#sectionMain
      .kv-section__bg
        video.section__video.d-none-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_pc.mp4')
        video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_mb.mp4')
      .kv-section__decobox
        h4.kv-section__sub-title.fw-lg
          span.kv-section__sub-title.sub-text-strong 跨越千年時光的
          span.kv-section__sub-title.sub-text 圖騰獸
        .kv-section__main-title
        p.section__msg.kv-section__date.fw-lg 2024年9月4日 (三) UPDATE
        button.section__play-btn.kv-section__play-btn
        ul.kv-section__row.row
          li.kv-section__item
            a.kv-section__link.img-android(href="https://play.google.com/store/apps/details?id=com.gamania.twp&hl=zh-TW" target="_blank")
          li.kv-section__item
            a.kv-section__link.img-ios(href="https://apps.apple.com/tw/app/%E6%B3%A2%E6%8B%89%E8%A5%BF%E4%BA%9E%E6%88%B0%E8%A8%98/id6451229143" target="_blank")
          li.kv-section__item.d-none-md
            a.kv-section__link.img-pc(href="https://warsofprasia.beanfun.com/Download?downloadTarget=1" target="_blank")
        a(href="#sectionResent").kv-section__scroll-down
    .section#sectionResent
      .section__bg
        video.section__video.s2-section-frame.d-block-lg.d-none-sm(autoplay loop muted playsinline)
          source(src='./images/video/s2_video_pc.mp4')
        video.section__video.s2-section-frame.d-none-lg.d-block-sm(autoplay loop muted playsinline)
          source(src='./images/video/s2_video_mb.mp4')
        .s2-section__visual.animate.animate_fadeDown
      .s2-section__intro
        ul.s2-section__row.row 
          li.s2-section__item.left-box.animate.animate_fadeLeft.animate_delay100
            .s2-section__img
              img(src="./images/s2_img_leo-profile.png", alt="")
            h5.s2-section__title.text-center.fw-md 被囚禁沙中對王國的怨恨
              p.s2-section__name.color-primary.text-xl.fw-md 鯨獅
            .section__ornate.d-none-lg.d-block-sm
          li.s2-section__item.right-box.animate.animate_fadeRight.animate_delay200
            ol.text-md
              li 當波拉西亞王國迅速擴展，某次調查隊探索波濤世界時遇上來自另一世界的妖精，雙方衝突最終演變為戰爭。為了勝利，波拉西亞的絕倫者動用禁忌魔法，將鯨獅圖騰獸與士兵融合，創造鯨獅軍團。然而，縱使犧牲一切，人類仍難敵妖精的強大魔力。
              br
              li 妖精擊垮波拉西亞王國，並將鯨獅軍團活埋於沙漠。經歷漫長歲月，隨大洪水波拉西亞遺蹟重現，鯨獅軍團也甦醒，但它們已遺忘使命，開始無差別地報復所有生命。
    .section#sectionPower
      .section__bg.s3-section__bg
        video.section__video.s3-section-frame(autoplay loop muted playsinline)
          source(src='./images/video/s3_video_pc.mp4')
      .container
        .s3-section__content
          .s3-section__head
            .s3-section__heading.text-xl.color-secondary.text-center
              h4.fw-md.color-secondary.animate.animate_fadeRight
                b.color-primary 掌控星辰的
                |力量
                p.text-lg 主要武器
                  span.s3-section-msg.color-primary 古代纏結之力
            .section__ornate.animate.animate_fadeRight.animate_delay200
            p.s3-section__desc.text-center.text-md.animate.animate_fadeRight.animate_delay300 鯨獅在千年的時間裡，被活埋在沙中。
              br
              |深埋於地底的怨恨之力，
              br
              |能夠觸及天空，自由操控著星辰，並將敵人消滅。
            .s3-section__video-box.animate.animate_fadeRight.animate_delay400
              .s3-section__video-wrapper
                button.section__play-btn.s3-section__video-btn
                video.s3-section__video(loop muted playsinline)
                  source(src='./images/video/s2_video_pc.mp4')
                
          .s3-section__body
            h4.s3-section__title.color-secondary.text-center.fw-md.animate.animate_fadeDown.animate_delay500 主要獎勵
            ul.s3-section__row.row 
              li.s3-section__item.animate.animate_fadeDown.animate_delay600
              li.s3-section__item.animate.animate_fadeDown.animate_delay700
    .section.s4-section#sectionMap
      .s4-section__bg-map
        .s4-section__bg
        .s4-section__cloudy.d-none-md
        .s4-section__point
          .s4-section__map-devil.animate.animate_fadeUp
          .s4-section__map-row.animate.animate_fadeUp
            .s4-section__map-arrow
            .s4-section__map-arrow
          .s4-section__map-circle.animate.animate_fadeUp
          .s4-section__map.animate.animate_fadeDown.animate_delay100
            .s4-section__map-line
              .s4-section__map-dot
            .s4-section__map-view
              .s4-section__map-img
            p.s4-section__map-text.fw-md 鯨獅寺院
      .s4-section__container.container
        .s4-section__flag.text-center
          h3.s4-section__head.fw-md.animate.animate_fadeLeft 鯨獅出沒地區
            br
            strong.color-point.text-xl.fw-md 鯨獅寺院
          .section__ornate.animate.animate_fadeLeft.animate_delay100
          ol.s4-section__desc.text-md.text-left.animate.animate_fadeLeft.animate_delay200
            li 在西吉爾沙漠和阿明塔森林的交界處，有一座被遺忘的神殿，曾經是波拉西亞王國小城市的一部分。這座城市曾經崇拜神獸鯨獅，並建立寺院以供奉它們。然而，當妖精侵略波拉西亞王國，城市被沙漠埋沒，與鯨獅圖騰獸一同消失了。
            br
            li 隨著大洪水後，萊茵索夫地區連成一片大陸，原本北方的小城市變成了黎奈亞大陸的交通樞紐。這裡的綠洲和豐富水源吸引了人們，建立了泉池村，也使得埋藏的遺蹟重新浮現。
            br
            li 當地的人們對這些遺蹟的用途仍不清楚，但隨著人口增加，纏結力量也變強。沉睡在神殿中的鯨獅旅團再次出現，他們的目標是復甦古波拉西亞王國的圖騰獸，並擴展他們自己的力量到整個大陸。
          ul.s4-section__row
            li.s4-section__item.animate.animate_fadeDown.animate_delay300
              img.s4-section__img(src="./images/s4_img_01.png", alt="")
            li.s4-section__item.animate.animate_fadeDown.animate_delay400
              img.s4-section__img(src="./images/s4_img_02.png", alt="")
    #gotop
      a.btn__gotop(href="#")