extends _layout.pug

append vars
block append loading
block append lightbox
block append header
block append pages
block append nav
block content
  main.content
    #sectionMain.section.kv-section
      .kv-section__bg
        video.section__video.d-none-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_pc.mp4')
        video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_mb.mp4')
      .kv-section__decobox
        .kv-section__main.fw-lg
          .kv-section__main-title
            span.kv-section__main-title-effect
        p.section__msg.kv-section__date.fw-md 2025年03月26日(三) UPDATE
        button.section__play-btn.kv-section__play-btn
        ul.kv-section__row.row
          li.kv-section__item
            a.kv-section__link.img-android(href="https://play.google.com/store/apps/details?id=com.gamania.twp&hl=zh-TW" target="_blank")
          li.kv-section__item
            a.kv-section__link.img-ios(href="https://apps.apple.com/tw/app/%E6%B3%A2%E6%8B%89%E8%A5%BF%E4%BA%9E%E6%88%B0%E8%A8%98/id6451229143" target="_blank")
          li.kv-section__item
            a.kv-section__link.img-pc(href="https://warsofprasia.beanfun.com/Download?downloadTarget=1" target="_blank")
        a(href="#sectionResent").kv-section__scroll-down
    #sectionResent.section
      .section__bg
        video.section__video.s2-section-iframe(autoplay loop muted playsinline)
          source(src='./images/video/s2_video_pc.mp4')
        .s2-section__visual.animate.animate_fadeDown
      .s2-section__intro
        .s2-section__row.row
          .s2-section__item.left-box.animate.animate_fadeLeft.animate_delay100
            .s2-section__img
              img(src="./images/s2_img_profile.png", alt="")
            h5.s2-section__title.text-center.fw-md 灰色軍團的指揮官
              p.s2-section__name.color-primary.text-xl.fw-md 司令官阿祖雷特
            .section__ornate
            ol.text-md.color-secondary--dark.animate.animate_fadeRight.animate_delay200
              li 他他是納賽爾、洛瓦爾、西吉爾傾注心血創造的灰色軍團指揮官。
              br
              li 納賽爾親手將自己的纏結投入其中，打造出擁有最高完成度的阿祖雷特。
              br
              li 納賽爾對此感到滿意，將自己的纏結根源——紅沙之力注入其中，賦予灰色軍團指揮官至高的權威。
    #sectionPower.section.s3-section
      .section__bg.s3-section__bg
        video.section__video.s3-section-iframe.d-block.d-none-sm(autoplay loop muted playsinline)
          source(src='./images/video/s3_video_pc.mp4')
        video.section__video.s3-section-iframe.d-none-lg.d-block-sm(autoplay loop muted playsinline)
          source(src='./images/video/s3_video_mb.mp4')
      .container
        .s3-section__content
          .s3-section__head
            .s3-section__heading.text-xl.color-secondary.text-center
              h4.fw-md.color-primary.animate.animate_fadeRight
                b.color-primary.fw-lg 虛空之槍
                p.color-secondary--dark.text-lg.fw-lg 主要武器
                  span.s3-section-msg.color-secondary--light 藍色虛空之槍與紅沙之杖
            .section__ornate.animate.animate_fadeRight.animate_delay200
            p.s3-section__desc.text-center.text-md.animate.animate_fadeRight.animate_delay300 納賽爾在為重生而沉睡之前
              br
              |將次元入口的建造與守衛責任託付給阿祖雷特。
              br
              |此外，為了啟動次元入口
              br
              |他賜予了一件能夠控制次元裂縫的神器——虛空之槍……
            .s3-section__video-box.animate.animate_fadeRight.animate_delay400
              .s3-section__video-wrapper
                video.s3-section__video(autoplay loop muted playsinline)
                  source(src='./images/video/s3_video_play.mp4')
          .s3-section__body
            h4.s3-section__title.color-secondary.text-center.fw-md.animate.animate_fadeDown.animate_delay500 主要獎勵
            ul.s3-section__row.row 
              li.s3-section__item.animate.animate_fadeDown.animate_delay600
    #sectionMap.section.s4-section
      .s4-section__bg-map
        .s4-section__bg
        .s4-section__cloudy.d-none-md
        .s4-section__point
          .s4-section__map-devil.animate.animate_fadeUp
          .s4-section__map-row.arrow--reverse.animate.animate_fadeUp
            .s4-section__map-arrow
            .s4-section__map-arrow
          .s4-section__map-circle.animate.animate_fadeUp
          .s4-section__map.animate.animate_fadeDown.animate_delay100
            .s4-section__map-line
              .s4-section__map-dot
            .s4-section__map-view
              .s4-section__map-img
            p.s4-section__map-text.fw-md 次元入口
      .s4-section__container.container
        .s4-section__flag.text-center
          h3.s4-section__head.fw-md.animate.animate_fadeLeft 納賽爾野心得以實現的
            br
            strong.color-point.text-xl.fw-md 次元入口
          .section__ornate.section--opacity.animate.animate_fadeLeft.animate_delay100
          ol.s4-section__desc.text-md.text-left.animate.animate_fadeLeft.animate_delay200
            li 當納賽爾完成重生並歸來時，黎奈亞的局勢已經發生了翻天覆地的變化。在黃金港，洛瓦爾妖精被人類擊敗，而人類旅團日益壯大，最終將城堡淪陷。納賽爾認為，是時候將他長久以來的計劃付諸實行了。
            br
            li 次元入口是一條離開波濤世界、遷往新家園的通道。而在納賽爾沉睡期間，建造這道入口的任務交由司令官阿祖雷特負責。啟動次元入口的最後鑰匙已近在咫尺。
            br
            li 然而，由於守護者與波拉西亞同盟的頑強抵抗，世界移居的計劃最終以失敗告終。納賽爾戰敗後撤退至暗月要塞，但灰色軍團的司令官阿祖雷特依然堅守次元入口，等待主人的下一步計劃。
    #gotop
      a.btn__gotop(href="#")