extends _layout.pug

append vars
block append nav
block content
  main.content
    .swiper.section-slide
      .swiper-wrapper.section-slide__wrapper
        section#sectionMain.swiper-slide
          .section.kv-section
            .section__bg.kv-section__bg
              video.section__video.d-none-sm(autoplay loop muted playsinline)
                source(src='./images/video/kv_video_pc.mp4')
              video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
                source(src='./images/video/kv_video_mb.mp4')
            .section__container
              .section__wrapper.column
                img.kv-section__sub-title(src="./images/kv_title_sub.png", alt="")
                .kv-section__smoke
                .kv-section__visual
                  img.kv-section__title(src="./images/kv_title_01.png", alt="")
                  img.kv-section__title(src="./images/kv_title_02.png", alt="")
                  img.kv-section__title(src="./images/kv_title_03.png", alt="")
                  img.kv-section__title(src="./images/kv_title_04.png", alt="")
                  img.kv-section__title(src="./images/kv_title_05.png", alt="")
                  img.kv-section__title(src="./images/kv_title_06.png", alt="")
                  img.kv-section__title(src="./images/kv_title_07.png", alt="")
                svg(width="0" height="0")
                  defs
                    filter#smokeFlow(x="0" y="0" width="100%" height="100%")
                      feTurbulence(type="fractalNoise" baseFrequency="0.01" numOctaves="3" result="turbulence")
                        animate(attributeName="baseFrequency" dur="20s" values="0.01; 0.02; 0.01" repeatCount="indefinite")
                      feDisplacementMap(in="SourceGraphic" in2="turbulence" scale="30")
                .kv-section__date 2025.06.04(三) UPDATE
                button.kv-section__btn
                a(href="#sectionSec").kv-section__scroll
        section#sectionSec.swiper-slide.section-slide__second
          .section.s2-section
            .section__bg.s2-section__bg
              .section__container
                .section__wrapper.column
                  img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s2_main_title.png", alt="")
                  .s2-section__imgbox.row.d-none-sm
                    .s2-section__img01.animate.animate_fadeDown.animate_delay200
                    .s2-section__img02.animate.animate_fadeDown.animate_delay300
                  .s2-section__visual.d-none-lg.d-block-sm
                    img.s2-section__img(src="./images/s2_visual_mb.png", alt="")
        section#sectionThird.swiper-slide.section-slide__third
          .section.s3-section
            .section__bg.s3-section__bg
            .section__container
              .section__wrapper.column.s3-section__wrapper
                .container.column
                  .section__wrapper.column
                    img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s3_main_title.png", alt="")
                    ul.s3-section__row.row
                      li.s3-section__item.animate.animate_fadeLeft.animate_delay200
                        .vodbox
                          video.s3-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s3_vod_01.mp4')
                      li.s3-section__item.animate.animate_fadeIn.animate_delay400
                        .vodbox
                          video.s3-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s3_vod_02.mp4')
                      li.s3-section__item.animate.animate_fadeRight.animate_delay300
                        .vodbox
                          video.s3-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s3_vod_03.mp4')
                    a.section__btn.s3-section__btn.animate.animate_fadeIn.animate_delay400(href="javascript:void(0);")
        section#sectionFourth.swiper-slide.section-slide__fourth
          .section.s4-section
            .section__bg.s4-section__bg
              .section__container
                .section__wrapper.column.s4-section__wrapper
                  .container
                    .section__wrapper.column
                      img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s4_main_title.png", alt="")
                      ul.s4-section__row.row
                        li.s4-section__item.animate.animate_fadeLeft.animate_delay200
                        li.s4-section__item.animate.animate_fadeIn.animate_delay400
                        li.s4-section__item.animate.animate_fadeRight.animate_delay300
                      a.section__btn.s4-section__btn.animate.animate_fadeIn.animate_delay400(href="javascript:void(0);")