@charset "UTF-8";
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Serif TC", Arial, "Helvetica Neue", Helvetica, "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

h1 {
  display: none;
}

ol,
ul,
p {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  display: inline-block;
  color: #282828;
  text-decoration: none;
}

/* Set core body defaults */
body {
  font-family: "Noto Serif TC", Arial, "Helvetica Neue", Helvetica, "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #1b191f;
  color: #1f252d;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-height: 112px;
  padding: 0 24px 0 0;
}
.header__logo-img {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/icon_logo_pc.png);
}
.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 16px;
}
.header__item {
  margin: 0 8px;
}

.bg-deco {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
.bg-deco__tree {
  background-image: url(../images/kv_img_tree.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 423px;
  height: 165px;
  position: absolute;
  z-index: 9;
}
.bg-deco__tree.left {
  left: 0;
}
.bg-deco__tree.right {
  right: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.bg-deco__ball-red {
  background: url(../images/kv_img_ball_red.png) no-repeat 0 100%/100% auto;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 41px;
  height: 207px;
  -webkit-animation: bouncing-bell 3s forwards;
          animation: bouncing-bell 3s forwards;
}
.bg-deco__ball-red:nth-child(1) {
  left: 8.3333333333%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.bg-deco__ball-red:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.bg-deco__ball-red:nth-child(4) {
  right: 25%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.bg-deco__ball-red:nth-child(5) {
  right: 8.3333333333%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.bg-deco__ball-sliver {
  background: url(../images/kv_img_ball_sliver.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 48px;
  height: 290px;
  left: 16.6666666667%;
  -webkit-animation: bouncing-bell 3s forwards;
          animation: bouncing-bell 3s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.bg-deco__ball-box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-deco__ball-box * {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 20px;
    max-height: 60px;
    overflow: hidden;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-height: 60px;
  }
  .header__logo {
    max-height: 60px;
  }
  .header__logo-mb {
    width: 130px;
    height: 60px;
    background-image: url(../images/icon/icon_logo_mb.png);
  }
  .bg-deco__tree {
    display: none;
  }
  .bg-deco__ball-red {
    width: 20px;
    height: 100px;
  }
  .bg-deco__ball-red:nth-child(1), .bg-deco__ball-red:nth-child(5) {
    display: none;
  }
  .bg-deco__ball-sliver {
    width: 20px;
    height: 120px;
    left: 8.3333333333%;
  }
  .bg-deco__ball-sliver:nth-of-type(2) {
    left: initial;
    right: 8.3333333333%;
  }
}
.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  right: 16px;
  z-index: 990;
}
.menu-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 16px;
}
.menu-nav__item.active::after {
  background-image: url(../images/nav_arrow_active.png);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.menu-nav__item.active .menu-nav__name {
  color: #ffffff;
  -webkit-filter: drop-shadow(0 0 5px rgba(121, 203, 242, 0.7)) drop-shadow(0 0 15px rgba(110, 205, 255, 0.3));
          filter: drop-shadow(0 0 5px rgba(121, 203, 242, 0.7)) drop-shadow(0 0 15px rgba(110, 205, 255, 0.3));
}
.menu-nav__item::after {
  width: 24px;
  height: 25px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: 12px;
  background-image: url(../images/nav_arrow.png);
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu-nav__item:nth-child(2) {
  margin-bottom: 8px;
}
.menu-nav__item:last-child {
  margin: 16px 0 0;
}
.menu-nav__item.nav__sub {
  margin-right: 24px;
  margin-bottom: 0;
}
.menu-nav__item.nav__sub::after {
  content: "・";
  background: none;
  margin-left: 0;
  color: rgba(208, 208, 208, 0.8156862745);
}
.menu-nav__name {
  display: inline-block;
  text-align: right;
  color: rgba(208, 208, 208, 0.8156862745);
  -webkit-transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.4s ease, transform 0.9s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu-nav__name:hover {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .menu-nav {
    right: 1.3333333333vw;
  }
  .menu-nav__item {
    margin-bottom: 1.3333333333vw;
  }
  .menu-nav__item::after {
    width: 1.3333333333vw;
    height: 1.6666666667vw;
    margin-left: 1vw;
  }
}
.btn-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 52px;
  padding: 8px 16px;
  background: #a2bacd;
  border: 1px solid transparent;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  white-space: nowrap;
}
.btn-game:hover {
  border: 1px solid #ffffff;
  background: #000000;
  color: #ffffff;
  letter-spacing: 1px;
}
.btn-game-link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-game-link:hover::before {
  border: 1px solid #ffffff;
  background: #000000;
}
.btn-game-link:hover .home, .btn-game-link:hover .fb, .btn-game-link:hover .yt {
  -webkit-filter: invert(100%) sepia(48%) saturate(155%) hue-rotate(291deg) brightness(119%) contrast(100%);
          filter: invert(100%) sepia(48%) saturate(155%) hue-rotate(291deg) brightness(119%) contrast(100%);
}
.btn-game-link::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  border: 1px solid #a2bacd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-game__icon {
  width: 42px;
  height: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: invert(75%) sepia(31%) saturate(202%) hue-rotate(164deg) brightness(93%) contrast(87%);
          filter: invert(75%) sepia(31%) saturate(202%) hue-rotate(164deg) brightness(93%) contrast(87%);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.btn-game__icon.home {
  background-image: url(../images/icon/icon_home.svg);
}
.btn-game__icon.fb {
  background-image: url(../images/icon/icon_facebook.svg);
}
.btn-game__icon.yt {
  background-image: url(../images/icon/icon_youtube.svg);
}
.btn__gotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  position: fixed;
  right: 42px;
  bottom: 42px;
  z-index: 990;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5019607843);
}
.btn__gotop::before {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40%;
  height: 50%;
  content: "";
  display: inline-block;
  background-image: url(../images/icon_gotop.svg);
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .btn-game__icon {
    width: 24px;
    height: 24px;
  }
  .btn__gotop {
    right: 16px;
    bottom: 16px;
  }
}
.menu-slide {
  width: 170px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-image: url(../images/menu_slide_bg.png);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  visibility: hidden;
}
.menu-slide.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  visibility: visible;
}
.menu-slide__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 52px;
  position: absolute;
  top: 112px;
  align-items: center;
  max-width: 119px;
  color: #ffffff;
  background: #13100e;
  text-shadow: 0 4px 8px rgba(255, 204, 150, 0.6);
  cursor: pointer;
}
.menu-slide__button:hover {
  background: #534c45;
}
.menu-slide__button::after {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-image: url(../images/icon_menu_hamburger.png);
  background-size: contain;
}
.menu-slide__button-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 8px;
  font-size: 20px;
}
.menu-slide__closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 170px;
  z-index: 999;
  background: #13100e;
  cursor: pointer;
}
.menu-slide__closed::after {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  margin-right: 0;
  background-image: url(../images/icon_closed.png);
  background-size: contain;
}
.menu-slide__closed:hover {
  background: #534c45;
}
.menu-slide__logo {
  margin: 0 auto 32px;
}
.menu-slide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 0 8px;
}
.menu-slide__row.device__row .menu-slide__item {
  height: 50px;
  margin-bottom: 4px;
}
.menu-slide__row.device__row .menu-slide__link {
  height: 50px;
  -webkit-filter: none;
          filter: none;
}
.menu-slide__row.device__row .img:hover {
  opacity: 0.8;
}
.menu-slide__row.device__row .img::before {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.menu-slide__row.device__row .img::after {
  content: none;
}
.menu-slide__row.device__row .img-android::before {
  background-image: url(../images/img_download_android_active.png);
}
.menu-slide__row.device__row .img-ios::before {
  background-image: url(../images/img_download_ios_active.png);
}
.menu-slide__row.device__row .img-pc::before {
  background-image: url(../images/img_download_pc_active.png);
}
.menu-slide__row.device__row .img::before {
  height: 50px;
  border: none;
}
.menu-slide__item {
  width: 100%;
  margin-bottom: 16px;
}
.menu-slide__img {
  height: 100%;
  margin-bottom: 8px;
}
.menu-slide__link {
  width: 100%;
  position: relative;
  color: #858585;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.menu-slide__link:hover {
  color: #ffebbc;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.menu-slide__link:hover::after {
  opacity: 1;
}
.menu-slide__link::before, .menu-slide__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 70px;
}
.menu-slide__link::before {
  border: 1px solid #858585;
}
.menu-slide__link::after {
  opacity: 0;
  background-image: url(../images/menu_slide_border.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .menu-slide__button {
    width: 24px;
    height: 24px;
    position: initial;
    background: transparent;
  }
  .menu-slide__button:hover {
    background: none;
  }
  .menu-slide__button-text {
    display: none;
    margin-left: 0;
  }
  .menu-slide__link {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #403734;
    border-top: 1px solid #403734;
  }
  .menu-slide__link::before, .menu-slide__link::after {
    display: none;
  }
  .device__row .menu-slide__item:last-child {
    display: none;
  }
  .device__row .menu-slide__link::before {
    display: block;
  }
}
.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.lightbox__black-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  background: rgba(0, 0, 0, 0.76);
}
.lightbox__closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  border-radius: 999em;
  z-index: 3;
}
.lightbox__closed:hover {
  border: 1px solid #ffffff;
  background: #000000;
}
.lightbox__closed::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44%;
  height: 44%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../images/icon_X.svg);
}
.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
}
.lightbox__video-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.lightbox__video-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lightbox__inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  -webkit-transition: padding-top 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  transition: padding-top 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.toggle__trigger {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .lightbox__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding: 0;
  }
  .lightbox__closed {
    position: initial;
  }
  .lightbox__video-box {
    width: 100%;
    margin-bottom: 16px;
  }
}
html,
body {
  position: relative;
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 16px;
}

.color-primary {
  color: #ff0000;
}
.color-secondary {
  color: #ffec82;
}
.color-secondary--dark {
  color: #c8c8c8;
}
.color-point {
  color: #9e4b2a;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 30px;
}
.text-xl {
  font-size: 60px;
}

.fw-normal {
  font-weight: normal;
}
.fw-sm {
  font-weight: 400;
}
.fw-md {
  font-weight: 500;
}
.fw-lg {
  font-weight: 700;
}
.fw-xl {
  font-weight: 900;
}

.d-block {
  display: block;
}

.d-none-lg {
  display: none;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: 10000;
}
.loading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loading__logo {
  width: 70px;
  height: 70px;
}
.loading__bar {
  width: 100%;
  height: 2px;
  position: relative;
  margin: 16px 0;
  border-radius: 4px;
  background: #1f252d;
  overflow: hidden;
}
.loading__progress {
  width: 0;
  height: 100%;
  background-color: #a7a7a7;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.loading__text {
  color: #a7a7a7;
  font-family: Arial;
  letter-spacing: 0.1px;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section__bg {
  height: 100%;
}
.section__bg::after {
  content: "";
  display: block;
  background: #000;
  opacity: 0.5;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}
.section__title {
  width: auto;
  height: 130px;
  margin-top: 150px;
}
.section__btn {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 281px;
  height: 73px;
  cursor: not-allowed;
}

.UNI-footer.dark {
  display: none;
}

.section-slide {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .d-block-md {
    display: block;
  }
  .d-none-md {
    display: none;
  }
  .container {
    padding: 4vw 1.3333333333vw;
  }
  .section__title {
    height: 10.8333333333vw;
    margin-top: -5vw;
  }
  .section__btn {
    width: 23.4166666667vw;
    height: 6.0833333333vw;
  }
  .section-slide .swiper-slide.section-slide__third, .section-slide .swiper-slide.section-slide__fourth {
    height: 90vw;
  }
  .s2-section .container .section__title {
    margin-top: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: initial;
    padding: 0 2.0833333333vw;
  }
  .text-md {
    font-size: 16px;
  }
  .text-lg {
    font-size: 18px;
  }
  .text-xl {
    font-size: 30px;
  }
  .d-block-sm {
    display: block;
  }
  .d-none-sm {
    display: none;
  }
  .section__title {
    height: 16.9270833333vw;
    margin-top: 5.2083333333vw;
  }
  .section__btn {
    width: 36.5885416667vw;
    height: 9.5052083333vw;
  }
  .section-slide .swiper-slide.section-slide__second, .section-slide .swiper-slide.section-slide__third {
    height: 130.2083333333vw;
  }
  .section-slide .swiper-slide.section-slide__fourth {
    height: 156.25vw;
  }
}
.kv-section__sub-title {
  width: auto;
  height: 9.5833333333%;
  -webkit-animation: flameWind 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWind 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.kv-section__visual {
  width: 626px;
  height: 132px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}
.kv-section__visual::before {
  width: 100%;
  height: 583px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../images/kv_spark.png);
  position: absolute;
  margin-top: -20%;
  left: 4%;
  pointer-events: none;
}
.kv-section__visual::after {
  width: 100%;
  height: 583px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../images/kv_smoke3.png);
  margin-top: -18%;
  pointer-events: none;
}
.kv-section__smoke {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 626px;
  height: 100%;
}
.kv-section__smoke::before, .kv-section__smoke::after {
  z-index: 3;
  -webkit-filter: url(#smokeFlow) blur(1px);
          filter: url(#smokeFlow) blur(1px);
}
.kv-section__smoke::before {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: -26%;
  left: -26%;
  background-image: url(../images/kv_smoke1.png);
}
.kv-section__smoke::after {
  width: 123%;
  height: 100%;
  content: "";
  position: absolute;
  top: -20%;
  right: calc(50% + -500px);
  background-image: url(../images/kv_smoke2.png);
  background-size: 100% 100%;
  background-position: center 0;
  background-repeat: no-repeat;
}
.kv-section__title {
  width: auto;
  height: 100px;
  position: absolute;
}
.kv-section__title:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.kv-section__title:nth-child(2) {
  top: -8px;
  left: 100px;
  -webkit-animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.kv-section__title:nth-child(3) {
  top: 30px;
  left: 190px;
  -webkit-animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.kv-section__title:nth-child(4) {
  top: 0;
  left: 285px;
  -webkit-animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.kv-section__title:nth-child(5) {
  width: auto;
  height: 70px;
  top: 38px;
  left: 385px;
  -webkit-animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.kv-section__title:nth-child(6) {
  top: -9px;
  left: 446px;
  -webkit-animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.kv-section__title:nth-child(7) {
  top: 5px;
  left: 524px;
  -webkit-animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWindDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.kv-section__date {
  background: url(../images/kv_date.png);
  width: 578px;
  height: 81px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 16px auto 32px;
  -webkit-animation: fadeUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: fadeUp 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.kv-section__scroll {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 37px;
  height: 108px;
  background-image: url(../images/kv_scrolldown.png);
  -webkit-animation: fadeUp2 2.2s forwards, float 1.3s infinite;
          animation: fadeUp2 2.2s forwards, float 1.3s infinite;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}
.kv-section__btn {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/btn_play.png);
  position: relative;
  background-position: 50% 0;
  -webkit-animation: flameWind 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
          animation: flameWind 1.5s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}
@media (any-hover: hover) {
  .kv-section__btn:hover {
    background-position: 50% 100%;
  }
}

.s2-section__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/s2_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.s2-section__bg::after {
  content: none;
}
.s2-section__imgbox {
  width: 1080px;
  height: 750px;
  position: relative;
}
.s2-section__imgbox * {
  position: absolute;
}
.s2-section__img01 {
  width: 427px;
  height: 395px;
  background: url(../images/s2_equip_01.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: -8.3333333333%;
  left: calc(50% + -580px);
}
.s2-section__img02 {
  width: 400px;
  height: 350px;
  background: url(../images/s2_equip_02.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 16.6666666667%;
  right: calc(50% + -480px);
}
.s2-section .container {
  position: relative;
  z-index: 2;
}

.s3-section__bg {
  background: url(../images/s3_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.s3-section__row, .s4-section__row {
  width: 1265px;
  height: 672px;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: -48px;
}
.s3-section__item {
  width: 537px;
  height: 672px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
}
.s3-section__item:nth-child(1) {
  background: url(../images/s3_card_01.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: 0;
}
.s3-section__item:nth-child(1) .vodbox {
  left: calc((100% - 269px) / 2);
}
.s3-section__item:nth-child(2) {
  width: 381px;
  height: 608px;
  background: url(../images/s3_card_02.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.s3-section__item:nth-child(2) .vodbox {
  left: calc((100% - 305px) / 2);
  bottom: 12.75%;
}
.s3-section__item:nth-child(3) {
  background: url(../images/s3_card_03.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  right: 0;
}
.s3-section__item:nth-child(3) .vodbox {
  right: calc((100% - 269px) / 2);
}
.s3-section__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s3-section__btn, .s4-section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/s3_btn_default.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: auto;
}
@media (any-hover: hover) {
  .s3-section__btn:hover, .s4-section__btn:hover {
    background: url(../images/s3_btn_active.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.s3-section .container {
  max-width: inherit;
}
.s3-section .section__btn {
  margin-top: 24px;
}
.s3-section .section__title {
  margin-top: auto;
}
.s3-section .vodbox {
  width: 296px;
  height: 171px;
  position: absolute;
  bottom: 11.5%;
}

.s4-section__bg {
  background: url(../images/s4_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: initial;
}
.s4-section__bg::after {
  content: none;
}
.s4-section__row {
  width: 1070px;
  height: 672px;
  margin-top: -76px;
}
.s4-section__item {
  width: 370px;
  height: 576px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
}
.s4-section__item:nth-child(1) {
  background: url(../images/s4_card_01.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: 0;
}
.s4-section__item:nth-child(2) {
  background: url(../images/s4_card_02.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.s4-section__item:nth-child(3) {
  background: url(../images/s4_card_03.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  right: 0;
}
.s4-section__btn {
  background: url(../images/s4_btn_default.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (any-hover: hover) {
  .s4-section__btn:hover {
    background: url(../images/s4_btn_active.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.s4-section .section__title {
  margin-top: -8.3333333333%;
}

@-webkit-keyframes flameWind {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes flameWind {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindUp {
  0% {
    -webkit-transform: translateY(10%) scale(0.8);
            transform: translateY(10%) scale(0.8);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindUp {
  0% {
    -webkit-transform: translateY(10%) scale(0.8);
            transform: translateY(10%) scale(0.8);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindDown {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindDown {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindInLeft {
  0% {
    -webkit-transform: translateX(-20%) scaleX(-1);
            transform: translateX(-20%) scaleX(-1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleX(-1);
            transform: translateX(0) scaleX(-1);
    opacity: 1;
  }
}
@keyframes flameWindInLeft {
  0% {
    -webkit-transform: translateX(-20%) scaleX(-1);
            transform: translateX(-20%) scaleX(-1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleX(-1);
            transform: translateX(0) scaleX(-1);
    opacity: 1;
  }
}
@-webkit-keyframes flameInLeft {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes flameInLeft {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindInRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes flameWindInRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindRightCenter {
  0% {
    -webkit-transform: translate(20%, 50%) rotate(10deg) scale(0.8);
            transform: translate(20%, 50%) rotate(10deg) scale(0.8);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindRightCenter {
  0% {
    -webkit-transform: translate(20%, 50%) rotate(10deg) scale(0.8);
            transform: translate(20%, 50%) rotate(10deg) scale(0.8);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flameWindLeftCenter {
  0% {
    -webkit-transform: translateX(-20%) scale(1.5);
            transform: translateX(-20%) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes flameWindLeftCenter {
  0% {
    -webkit-transform: translateX(-20%) scale(1.5);
            transform: translateX(-20%) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeUp2 {
  0% {
    margin-top: 70px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes fadeUp2 {
  0% {
    margin-top: 70px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes floatDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 50% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes floatDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 50% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes bouncing-bell {
  0%, 20%, 53%, 80%, to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bouncing-bell {
  0%, 20%, 53%, 80%, to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@-webkit-keyframes smokeWave {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  25% {
    -webkit-transform: translate(-10px, -10px) scale(1.05);
            transform: translate(-10px, -10px) scale(1.05);
  }
  50% {
    -webkit-transform: translate(10px, -20px) scale(1.1);
            transform: translate(10px, -20px) scale(1.1);
  }
  75% {
    -webkit-transform: translate(-15px, -30px) scale(1.15);
            transform: translate(-15px, -30px) scale(1.15);
  }
  100% {
    -webkit-transform: translate(0, -40px) scale(1.2);
            transform: translate(0, -40px) scale(1.2);
  }
}
@keyframes smokeWave {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  25% {
    -webkit-transform: translate(-10px, -10px) scale(1.05);
            transform: translate(-10px, -10px) scale(1.05);
  }
  50% {
    -webkit-transform: translate(10px, -20px) scale(1.1);
            transform: translate(10px, -20px) scale(1.1);
  }
  75% {
    -webkit-transform: translate(-15px, -30px) scale(1.15);
            transform: translate(-15px, -30px) scale(1.15);
  }
  100% {
    -webkit-transform: translate(0, -40px) scale(1.2);
            transform: translate(0, -40px) scale(1.2);
  }
}
@media (min-width: 768px) {
  .animate {
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .animate_fadeIn {
    opacity: 0;
  }
  .animate_fadeUp {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  .animate_fadeDown {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  .animate_fadeLeft {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  .animate_fadeRight {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  .animate_maskLeft {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .animate_maskRight {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  .animate_maskUp {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .animate_maskDown {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  .animate_active {
    opacity: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
  .animate_delay100 {
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .animate_delay200 {
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  .animate_delay300 {
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
  }
  .animate_delay400 {
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
  }
  .animate_delay500 {
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
  }
  .animate_delay600 {
    -webkit-transition-delay: 600ms;
            transition-delay: 600ms;
  }
  .animate_delay700 {
    -webkit-transition-delay: 700ms;
            transition-delay: 700ms;
  }
  .animate_delay800 {
    -webkit-transition-delay: 800ms;
            transition-delay: 800ms;
  }
  .animate_delay900 {
    -webkit-transition-delay: 900ms;
            transition-delay: 900ms;
  }
  .animate_delay1000 {
    -webkit-transition-delay: 1000ms;
            transition-delay: 1000ms;
  }
}
@media screen and (max-height: 1000px) and (min-width: 769px) {
  .section__title {
    margin-top: 120px;
  }
  .s2-section__img01 {
    top: -10%;
    left: calc(50% + -500px);
  }
  .s2-section__img02 {
    right: calc(50% + -450px);
    bottom: 16.6666666667%;
  }
  .s2-section .section__title {
    margin-top: 12.5%;
  }
  .s3-section__row, .s4-section__row {
    margin-top: -70px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .s3-section .section__btn {
    margin-top: -30px;
  }
  .s4-section__row {
    height: 576px;
    margin-top: 0;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .s4-section .section__btn {
    margin-top: -30px;
  }
}
@media (max-width: 1200px) {
  .section-slide {
    height: auto;
    max-height: 100%;
  }
  .section-slide__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-slide__wrapper .swiper-slide {
    height: 75vw;
  }
  .kv-section__sub-title {
    width: auto;
    height: 9.5833333333vw;
  }
  .kv-section__visual {
    width: 52.1666666667vw;
    height: 11vw;
    margin-top: 2.6666666667vw;
  }
  .kv-section__visual::before {
    width: 100%;
    height: 48.5833333333vw;
    margin-top: -20%;
    left: 4%;
  }
  .kv-section__visual::after {
    width: 100%;
    height: 48.5833333333vw;
  }
  .kv-section__smoke {
    width: 52.1666666667vw;
  }
  .kv-section__smoke:after {
    width: 90vw;
    height: 100%;
    right: -25vw;
  }
  .kv-section__title {
    width: auto;
    height: 8.3333333333vw;
    position: absolute;
  }
  .kv-section__title:nth-child(2) {
    top: -0.6666666667vw;
    left: 8.3333333333vw;
  }
  .kv-section__title:nth-child(3) {
    top: 2.5vw;
    left: 15.8333333333vw;
  }
  .kv-section__title:nth-child(4) {
    top: 0;
    left: 23.75vw;
  }
  .kv-section__title:nth-child(5) {
    width: auto;
    height: 5.8333333333vw;
    top: 3.1666666667vw;
    left: 32.0833333333vw;
  }
  .kv-section__title:nth-child(6) {
    top: -0.75vw;
    left: 37.1666666667vw;
  }
  .kv-section__title:nth-child(7) {
    top: 0.4166666667vw;
    left: 43.6666666667vw;
  }
  .kv-section__date {
    width: 48.1666666667vw;
    height: 6.75vw;
    margin: 1.3333333333vw auto 2.6666666667vw;
  }
  .kv-section__scroll {
    width: 3.0833333333vw;
    height: 9vw;
  }
  .kv-section__btn {
    width: 10vw;
    height: 10vw;
  }
  .kv-section .section__container {
    margin-top: 0.8333333333vw;
  }
  .s2-section__bg {
    top: 0;
  }
  .s2-section__imgbox {
    width: 90vw;
    height: 62.5vw;
  }
  .s2-section__img01 {
    width: 33.3333333333vw;
    height: 29.1666666667vw;
    top: -5vw;
    left: 4.1666666667vw;
  }
  .s2-section__img02 {
    width: 33.3333333333vw;
    height: 29.1666666667vw;
    bottom: 12.5vw;
    right: 7.5vw;
  }
  .s3-section__row, .s4-section__row {
    width: 105.4166666667vw;
    height: 56vw;
    margin-top: -4vw;
  }
  .s3-section__item {
    width: 44.75vw;
    height: 56vw;
  }
  .s3-section__item:nth-child(1) .vodbox {
    left: calc((100% - 22.4166666667vw) / 2);
  }
  .s3-section__item:nth-child(2) {
    width: 31.75vw;
    height: 50.6666666667vw;
  }
  .s3-section__item:nth-child(2) .vodbox {
    left: calc((100% - 25.4166666667vw) / 2);
  }
  .s3-section__item:nth-child(3) .vodbox {
    right: calc((100% - 22.4166666667vw) / 2);
  }
  .s3-section .vodbox {
    width: 24.6666666667vw;
    height: 14.25vw;
  }
  .s4-section__row {
    width: 89.1666666667vw;
    height: 56vw;
    margin-top: -6.3333333333vw;
  }
  .s4-section__item {
    width: 30.8333333333vw;
    height: 48vw;
  }
  .s4-section .container .section__title {
    margin-top: -5vw;
  }
}
@media (max-width: 768px) {
  .section-slide {
    height: auto;
    max-height: 100%;
  }
  .section-slide__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-slide__wrapper .swiper-slide {
    height: 169.2708333333vw;
  }
  .kv-section__sub-title {
    width: auto;
    height: 14.9739583333vw;
  }
  .kv-section__visual {
    width: 81.5104166667vw;
    height: 17.1875vw;
    margin-top: 4.1666666667vw;
  }
  .kv-section__visual::before {
    width: 100%;
    height: 75.9114583333vw;
    margin-top: -20%;
    left: 4%;
  }
  .kv-section__visual::after {
    width: 100%;
    height: 75.9114583333vw;
  }
  .kv-section__smoke {
    width: 81.5104166667vw;
    height: 100%;
  }
  .kv-section__smoke::after {
    width: 140.625vw;
    height: 100%;
    right: -39.0625vw;
  }
  .kv-section__title {
    width: auto;
    height: 13.0208333333vw;
    position: absolute;
  }
  .kv-section__title:nth-child(2) {
    top: -1.0416666667vw;
    left: 13.0208333333vw;
  }
  .kv-section__title:nth-child(3) {
    top: 3.90625vw;
    left: 24.7395833333vw;
  }
  .kv-section__title:nth-child(4) {
    top: 0;
    left: 37.109375vw;
  }
  .kv-section__title:nth-child(5) {
    width: auto;
    height: 9.1145833333vw;
    top: 4.9479166667vw;
    left: 50.1302083333vw;
  }
  .kv-section__title:nth-child(6) {
    top: -1.171875vw;
    left: 58.0729166667vw;
  }
  .kv-section__title:nth-child(7) {
    top: 0.6510416667vw;
    left: 68.2291666667vw;
  }
  .kv-section__date {
    width: 75.2604166667vw;
    height: 10.546875vw;
    margin: 2.0833333333vw auto 4.1666666667vw;
  }
  .kv-section__scroll {
    width: 4.8177083333vw;
    height: 14.0625vw;
  }
  .kv-section__btn {
    width: 15.625vw;
    height: 15.625vw;
  }
  .kv-section .section__container {
    margin-top: 1.3020833333vw;
  }
  .s2-section__bg {
    background: url(../images/s2_bg_mb.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .s2-section .container .section__title {
    margin-top: 7.8125vw;
  }
  .s2-section__visual {
    margin-top: 4.1666666667vw;
  }
  .s2-section__img {
    width: 130.2083333333vw;
    height: 95.8333333333vw;
  }
  .s3-section__row, .s4-section__row {
    background: url(../images/s3_card_mb.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 115.1041666667vw;
    height: 78.2552083333vw;
    margin-top: 1.5625vw;
  }
  .s3-section__item:nth-child(1), .s3-section__item:nth-child(2), .s3-section__item:nth-child(3) {
    background: none;
    bottom: 3.90625vw;
    pointer-events: none;
  }
  .s3-section__item:nth-child(1) .vodbox {
    left: calc((100% - 17.578125vw) / 2);
  }
  .s3-section__item:nth-child(2) .vodbox {
    left: calc((100% - 25.390625vw) / 2);
  }
  .s3-section__item:nth-child(3) .vodbox {
    right: calc((100% - 18.2291666667vw) / 2);
  }
  .s3-section .vodbox {
    width: 26.0416666667vw;
    height: 17.7083333333vw;
  }
  .s3-section .section__title {
    margin-top: auto;
  }
  .s3-section .section__btn {
    margin-top: 3.125vw;
  }
  .s4-section__bg {
    background: url(../images/s4_bg_mb.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .s4-section__row {
    background: url(../images/s4_card_mb.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 96.3541666667vw;
    height: 76.5625vw;
    margin-top: 6.25vw;
  }
  .s4-section__item:nth-child(1), .s4-section__item:nth-child(2), .s4-section__item:nth-child(3) {
    background: none;
    pointer-events: none;
  }
  .s4-section .container .section__title {
    margin-top: -19.53125vw;
  }
  .UNI-footer .gradeArea .gradeArea__img img {
    width: 50px;
  }
}