// 平版 過渡樣式
@media screen and (max-height:1000px) and (min-width: 769px) {
  .kv-section {
    &__decobox {
      transform: scale(.9);
      transform-origin: 50% 100%;
    }

    &__play-btn {
      margin-top: 24px;
    }
    &__row {
      margin-top: 42px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .kv-section {
    &__item {
      &:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: ($pc-midrwd-breakpoint* 1px)) {

  .s3-section {

    &__head {
      max-width: initial;
      margin-top: 350px;
    }

    &__row {
      @include flex-column;
    }

    &__item {
      &.new-equit {
        flex: auto;
      }
      &:nth-child(1) {
        margin-bottom: 40px;
      }
      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 960px) {

  .kv-section {
    &__main-title {
      @include size(600px,80px);
    }
    &__main-title-effect {
      top: -44%;
      left: calc((100% - 137px) / 2);
    }
  }

  .s4-section {
    @include flex-column;

    &__container {
      padding: 0;
      margin: 0;
    }

    &__bg {
      @include size(100%);
      background-image: url(../images/s4_bg_map_mb.png);

      &-map {
        @include size(100%,550px);
        position: relative;
      }
    }

    &__flag {
      @include size(100%,auto);
      @include background-setting;
      padding-bottom: 72px;
      background-image: url(../images/s4_img_flag_mb.png);;
    }

    &__desc {
      max-width: 480px;
    }

    &__head {
      margin-top: 50px;
    }

    &__row {
      width: 100%;
      max-width: 480px;
    }

    &__point {
      transform: translate3d(92%, -170%, 0);
    }


  }
}