// ----- Common Style Start -----//

html,
body {
  position: relative;
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  @include flex-column;
}

.container {
  max-width: $pc-midrwd-breakpoint + px;
  margin: 0 auto;
  padding: 48px 16px;
}

.color {
  &-primary {
    color: $primary;
  }

  &-secondary {
    color: $secondary;
    &--dark {
      color: $secondaryDark;
    }
  }

  &-point {
    color: $point;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-sm {
    font-size: 14px;
  }

  &-md {
    font-size: 18px;
  }

  &-lg {
    font-size: 30px;
  }

  &-xl {
    font-size: 60px;
  }
}

.fw {
  &-normal {
    font-weight: normal;
  }

  &-sm {
    font-weight: 400;
  }

  &-md {
    font-weight: 500;
  }

  &-lg {
    font-weight: 700;
  }

  &-xl {
    font-weight: 900;
  }
}

.d-block {
  display: block;
}

.d-none {
  &-lg {
    display: none;
  }
}

// ----- Common Style End -----//

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: 10000;
  &__content {
    @include flex-column;
    align-items: center;
  }
  &__logo {
    @include size(70px);
  }
  &__bar {
    @include size(100%,2px);
    position: relative;
    margin: 16px 0;
    border-radius: 4px;
    background: $backgroundDark1F;
    overflow: hidden;
  }
  &__progress {
    width: 0;
    height: 100%;
    background-color: $background2F;
    transition: width 0.5s linear;
  }
  &__text {
    color: $text02;
    font-family: Arial;
    letter-spacing: .1px;
  }
}

.section {
  @include size(100%,100%);
  position: relative;
  overflow: hidden;

  &__bg {
    height: 100%;
    &::after {
      content: "";
      display: block;
      background: #000;
      opacity: 0.5;
      @include background-cover;
      @include size(100%,100%);
      @include center;
    }
  }

  &__video {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    @include center;
  }


  &__wrapper {
    @include flex-center;
    position: relative;
    height: 100%;
  }

  &__title {
    @include size(auto,130px);
    margin-top: 150px;
  }

  &__btn {
    @include background-contain;
    @include size(281px,73px);
    cursor: not-allowed;
  }

}

.UNI-footer {
  &.dark {
    display: none;
  }
}

// swiper 套件

.section-slide {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: ($pc-midrwd-breakpoint* 1px)) {

  .d-block {
    &-md {
      display: block;
    }
  }

  .d-none {
    &-md {
      display: none;
    }
  }

  .container {
    padding: vw(48px) vw(16px);
  }


  .section {
    &__title {
      height: vw(130px);
      margin-top: vw(-60px);
    }
    &__btn {
      @include size(vw(281px),vw(73px));
    }
  }

  // swiper slide third style -- set height to 100vw
  // --------------------------------------------------
  .section-slide {
    .swiper-slide {
      &.section-slide__third,&.section-slide__fourth {
        height: 90vw;
      }
    }
  }

  // s2 section
  // --------------------------------------------------
  .s2-section {
    .container {
      .section__title {
        margin-top: vw(60px);
      }
    }
  }

}



@media screen and (max-width: ($mbrwd-breakpoint* 1px)) {

  .container {
    max-width: initial;
    padding: 0 vwm(16px);
  }

  .text {
    &-md {
      font-size: 16px;
    }

    &-lg {
      font-size: 18px;
    }

    &-xl {
      font-size: 30px;
    }
  }

  .d-block {
    &-sm {
      display: block;
    }
  }

  .d-none {
    &-sm {
      display: none;
    }
  }

  .section {
    &__title {
      height: vwm(130px);
      margin-top: vwm(40px);
    }
    &__btn {
      @include size(vwm(281px),vwm(73px));
    }
  }

  .section-slide {
    .swiper-slide {
      &.section-slide__second,
      &.section-slide__third {
        height: vwm(1000px);
      }
      &.section-slide__fourth {
        height: vwm(1200px);
      }
    }
  }
}