$primary: #ff0000;
$secondary: #ffec82;
$secondaryDark: #c8c8c8;
$point: #9e4b2a;
$point-sec: #765555;
$header: #a2bacd;

// Basic Color
$backgroundB1: #ffffff;
$background1F: #f2f2f2;
$background2F: #a7a7a7;

$backgroundDarkB1: #000000;
$backgroundDark1F: #1f252d;
$backgroundDark2F: #282828;

// Fonts Color
$text01: #d0d0d0;
$text02: #a7a7a7;
$text03: #ffffff;

$navTextDefault: #d0d0d0d0;

// Border Color
$border: #e8e8e8;

// Breakpoint
$pcrwd-breakpoint: 1597;
$pc-midrwd-breakpoint: 1200;
$mbrwd-breakpoint: 768;

@mixin d-flex {
  display: flex;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin background-cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@mixin background-contain {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


@function xy($xy, $ttlw) {
  @return ($xy / $ttlw * 100%);
}

@function pct($target) {
  $vw-context: (
    $pc-midrwd-breakpoint * .01) * 1px;
  @return ($target / $vw-context) * 1%;
}

@function vw($target) {
  $vw-context: (
    $pc-midrwd-breakpoint * .01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function vwm($target){
  $vw-context: ($mbrwd-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function px-em($px, $base: 16) {
  @return ($px / $base * 1em);
}

@mixin posXY($x: 0, $y: 0) {
  left: calc(50% + #{$x}px);
  top: xy($y, $h);
}

@mixin size($w: null, $h: $w) {
  width: $w;
  height: $h;
}

@mixin hover-only {
  @media (any-hover: hover) {
    @content;
  }
}